@import "@fontsource/inter"; 
@import "tailwindcss";


@import './styles/typography.css';
@import './styles/components.css';
@import './styles/icons.css';
@import './styles/navigation.css';

html {
  font-size: 56.25%;
}

@media (min-width: 768px) {
  html {
    font-size: 58.75%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 62.5%; /* 1rem = 10px on desktop */
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 65%;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 68.75%;
  }
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
}

input[type="checkbox"]:disabled {
  accent-color: var(--color-black);
}

button {
  transition: all 0.4s ease;
  cursor: pointer;
}
